<!DOCTYPE html>
<html>
<head>
    <link type="text/css" th:href="@{/css/corelogic-ui.css}" rel="stylesheet"/>
</head>
<body>

<div class="title">
    <div class="container-fluid">
        <h1 class="primary-title">
            <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
            <a th:href="@{/}">CoreLogic HazardBot</a>
        </h1>
    </div>
</div>

<div class="container">

    <h1>SMS Test</h1>

    <p>
        You should have received an SMS message at <span th:text="${subscriber.phoneNumber}">512-555-1212</span>.
        Check your phone!
    </p>

</div>

<footer>
    <div class="footer-image"></div>
    <div>
        2017 Copyright CoreLogic. All Rights Reserved.
    </div>
    <div>
        <ol>
            <li><a href="#">About Our Company</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Policies</a></li>
        </ol>
    </div>
</footer>

</body>
</html>

